<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TareaVelocimetro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA1A49EE1C13B9CC00DD37A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1A4A021C13B9CE00DD37A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1A4A0D1C13B9CE00DD37A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
